<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{ .Description }}">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

{{ with resources.Get "images/og-image.png" }}
<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://herbbalans.nl">
<meta property="og:type" content="website">
<meta property="og:title" content="HerbBalans">
<meta property="og:description" content="Herstel je balans met de kracht van natuur">
{{ with .Resize (printf "%dx%d png" 1200 630) }}<meta name="og:image" content="{{ .RelPermalink }}">{{ end }}

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="herbbalans.nl">
<meta property="twitter:url" content="https://herbbalans.nl">
<meta name="twitter:title" content="HerbBalans">
<meta name="twitter:description" content="Herstel je balans met de kracht van natuur">
{{ with .Resize (printf "%dx%d png" 1200 630) }}<meta name="twitter:image" content="{{ .RelPermalink }}">{{ end }}
{{ end }}

{{ with resources.Get "images/favicon.png" }}
    {{ with .Resize (printf "%dx%d png" 16 16) }}<link rel="icon" sizes="32x32" href="{{ .RelPermalink }}" type="image/png">{{ end }}
    {{ with .Resize (printf "%dx%d png" 32 32) }}<link rel="icon" sizes="32x32" href="{{ .RelPermalink }}" type="image/png">{{ end }}
    {{ with .Resize (printf "%dx%d png" 48 48) }}<link rel="icon" sizes="48x48" href="{{ .RelPermalink }}" type="image/png">{{ end }}
    {{ with .Resize (printf "%dx%d png" 96 96) }}<link rel="icon" sizes="96x96" href="{{ .RelPermalink }}" type="image/png">{{ end }}
{{ end }}
{{ partialCached "head/css.html" . }}
