<!-- About Start -->
<div class="bg-subtle w-100">
    <div class="width-base">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2 g-5">
                <div class="col px-0 order-1 order-lg-0 fade-in px-3 py-0">
                    <div class="row row-cols-1 row-cols-sm-2 g-3">
                        <div class="col d-flex flex-column gap-3">
                            <div>
                                <img
                                        src="img/about-1.jpg"
                                        alt="treatment"
                                        class="img-about"
                                />
                            </div>
                            <div>
                                <img
                                        src="img/about-2.jpg"
                                        alt="treatment"
                                        class="img-about"
                                />
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <img
                                        src="img/about-3.jpg"
                                        alt="treatment"
                                        class="img-about-last"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div
                        class="col d-flex flex-column justify-content-between gap-4 px-3 py-0 ps-lg-5 pt-5 pt-lg-0 fade-in"
                >
                    <div>
                        <div>
                  <span class="icon-circle-17-main"
                  ><i class="fa-solid fa-plus c-main"></i
                  ></span>
                            <span class="ms-2 philosopher fs-14 c-main">DOEL</span>
                        </div>
                        <div class="title-about c-semi-black mt-4">
                            Herstellen van je inwendige balans
                        </div>
                    </div>
                    <span class="text-grey">
                        Ik ga op zoek naar de oorzaak van je klachten, zonder meteen iets voor te schrijven.
                    </span>
                    <div class="d-block d-lg-flex">
                        <div class="d-flex align-items-center my-3">
                  <span class="icon-circle-37-main me-3"
                  ><i class="fa-solid fa-check"></i
                  ></span>
                        </div>
                        <div>
                            <span class="text-subtitle c-semi-black my-4">Begin bij de bron</span>
                            <br/>
                            <p class="text-grey my-3">
                                Pak klachten aan bij de bron, in plaats van symptomen te onderdrukken.
                            </p>
                        </div>
                    </div>
                    <div class="dblock d-lg-flex">
                        <div class="d-flex align-items-center my-3">
                  <span class="icon-circle-37-main me-3"
                  ><i class="fa-solid fa-check"></i
                  ></span>
                        </div>
                        <div>
                            <span class="text-subtitle c-semi-black my-4">Homeostase = balans</span>
                            <br/>
                            <p class="text-grey my-3">
                                Het streven is om je inwendige balans, je homeostase te herstellen
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
