<!-- About Start -->
<div class="bg-subtle w-100">
    <div class="width-base">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2 g-5">
                <div class="col px-0 order-1 order-lg-0 fade-in px-3 py-0">
                    <div class="row row-cols-1 row-cols-sm-2 g-3">
                        <div class="col d-flex flex-column gap-3">
                            <div>
                                {{ with resources.Get "images/about-1.jpg" }}
                                    {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
                                        <img
                                                src="{{ .RelPermalink }}"
                                                alt="treatment"
                                                class="img-about"
                                        />
                                    {{ end }}
                                {{ end }}
                            </div>
                            <div>
                                {{ with resources.Get "images/about-2.jpg" }}
                                {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
                                <img
                                        src="{{ .RelPermalink }}"
                                        alt="treatment"
                                        class="img-about"
                                />
                                {{ end }}
                                {{ end }}
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                {{ with resources.Get "images/about-3.jpg" }}
                                {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
                                <img
                                        src="{{ .RelPermalink }}"
                                        alt="treatment"
                                        class="img-about"
                                />
                                {{ end }}
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
                <div
                        class="col d-flex flex-column justify-content-between gap-4 px-3 py-0 ps-lg-5 pt-5 pt-lg-0 fade-in"
                >
                    <div>
                        <div>
                  <span class="icon-circle-17-main"
                  ><i class="fa-solid fa-plus c-main"></i
                  ></span>
                            <span class="ms-2 philosopher fs-14 c-main">{{ .Params.About.Section }}</span>
                        </div>
                        <div class="title-about c-semi-black mt-4">
                            {{ .Params.About.Title }}
                        </div>
                    </div>
                    <span class="text-grey">
                        {{ .Params.About.Subtitle }}
                    </span>
                    {{ with .Params.About.Items }}
                        {{ range . }}
                            <div class="d-block d-lg-flex">
                                <div class="d-flex align-items-center my-3">
                                    <span class="icon-circle-37-main me-3"><i class="fa-solid fa-check"></i></span>
                                </div>
                                <div>
                                    <span class="text-subtitle c-semi-black my-4">{{ index . "title" }}</span>
                                    <br/>
                                    <p class="text-grey my-3">
                                        {{ index . "description" }}
                                    </p>
                                </div>
                            </div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
