<!-- FAQS Start -->
<div class="bg-semi-white w-100">
    <div class="width-base">
        <div class="container px-0">
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col fade-in pe-5">
                    {{ with resources.Get "images/faqs.jpg" }}
                    {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
                    <img
                            src="{{ .RelPermalink }}"
                            alt="faqs"
                            class="img-faqs"
                    />
                    {{ end }}
                    {{ end }}
                </div>
                <div class="col fade-in ps-4">
                    <div>
                        <div>
                  <span class="icon-circle-17-main"
                  ><i class="fa-solid fa-plus c-main"></i
                  ></span>
                            <span class="ms-2 philosopher fs-14 c-main">{{ .Params.Faq.Section }}</span>
                        </div>
                        <div class="title-about c-semi-black">
                            {{ .Params.Faq.Title }}
                        </div>
                    </div>
                    <div class="accordion mt-5" id="wivanaAccordion">
                        {{ range $index, $element := sort (where .Site.RegularPages "Section" "in" "faq") "Weight" }}
                            <div class="accordion-item fade-in" data-delay="{{ math.Mul $index 100 }}">
                                <span class="accordion-header" id="heading{{$index}}">
                                    <button
                                        class="accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{$index}}"
                                        aria-expanded="true"
                                        aria-controls="collapse{{$index}}"
                                    >
                                    {{ $element.Title }}
                                    </button>
                                </span>
                                <div
                                        id="collapse{{$index}}"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="heading{{$index}}"
                                        data-bs-parent="#wivanaAccordion"
                                >
                                    <div class="accordion-body">
                                        {{ $element.Content }}
                                    </div>
                                </div>
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FAQS End -->
