<!-- Hero Section Start -->
<section class="section-m mx-auto container-lg">
    <div class="c-white mb-4 mb-lg-0 fade-in">
        <div>
              <span class="icon-circle-17"
              ><i class="fa-solid fa-plus"></i></span
              ><span class="ms-2 philosopher fs-14"
        >HERBBALANS</span
        >
        </div>
        <h1 class="hero-title mt-3 mb-5">
            Herstel je balans met de kracht van natuur
        </h1>
        <div>
            <p class="lato fs-16 c-silver hero-subtitle">
                Homeostase is een fysiologisch proces, waarbij organismen het inwendig milieu van biochemische en biofysische processen in evenwicht houden, ondanks veranderingen in de omgeving waarin het organisme zich bevindt
            </p>
        </div>
    </div>
</section>
<!-- Hero Section End -->
