<!-- Hero Section Start -->
<section class="section-m mx-auto container-lg">
    <div class="c-white mb-4 mb-lg-0 fade-in">
        <div>
              <span class="icon-circle-17"
              ><i class="fa-solid fa-plus"></i></span
              ><span class="ms-2 philosopher fs-14">
            {{ .Params.Hero.Section }}
        </span>
        </div>
        <h1 class="hero-title mt-3 mb-5">
            {{ .Params.Hero.Title }}
        </h1>
        <div>
            <p class="lato fs-16 c-silver hero-subtitle">
                {{ .Params.Hero.Subtitle }}
            </p>
        </div>
    </div>
</section>
<!-- Hero Section End -->
