<!-- Why Choose Us Start -->
<div class="bg-complement position-relative">
    <div class="bg-choose-us width-base position-relative position-lg-absolute choose-position">
        <div class="fade-in">
            <div class="d-flex justify-content-center">
                <span class="icon-circle-17"><i class="fa-solid fa-plus"></i></span>
                <span class="ms-2 philosopher fs-14 c-white">{{ .Params.Klachten.Section }}</span>
            </div>
            <div class="title-about mt-1 mb-5 c-white w-80 mx-auto text-center">
                {{ .Params.Klachten.Title }}
            </div>
        </div>
        <div class="container px-0">
            <div class="row row-cols-1 row-cols-md-3 fade-in p-5">
                {{ $icons := slice
                    "img/icons-UGGEC4D_4.png"
                    "img/icons-UGGEC4D_9.png"
                    "img/icons-UGGEC4D_5.png"
                    "img/icons-UGGEC4D_6.png"
                    "img/icons-UGGEC4D_7.png"
                    "img/icons-UGGEC4D_8.png"
                }}
                {{ $styles := slice
                    "border-bottom border-lg-right"
                    "border-bottom"
                    "border-lg-left border-bottom"
                    "border-lg-right border-bottom border-lg-bottom-0"
                    "border-bottom border-lg-bottom-0"
                    "border-lg-left border-bottom border-lg-bottom-0"
                }}
                {{ range $index, $element := first 6 (sort (where .Site.RegularPages "Section" "in" "klachten") "Weight") }}
                    <div class="col d-flex flex-column align-items-center border-bottom {{index $styles $index}} border-white">
                        <div class="mt-4">
                            <img
                                    src="{{index $icons $index}}"
                                    width="52"
                                    height="52"
                                    alt="choose"
                            />
                        </div>
                        <p class="text-subtitle c-white mt-3">{{ $element.Title }}</p>
                        <p class="text-white text-center m-0 mb-lg-4">{{ $element.Summary }}</p>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
<!-- Why Choose Us End -->
