<!-- Our Process Start -->
<div class="bg-subtle w-100 position-relative large-padding">
    <div class="width-base">
        <div class="fade-in">
            <div>
            <span class="icon-circle-17-main"
            ><i class="fa-solid fa-plus c-main"></i
            ></span>
                <span class="ms-2 philosopher fs-14 c-main">AANPAK</span>
            </div>
            <div class="title-about c-semi-black mt-4">
                Stappen tot genezing
            </div>
        </div>
        <div class="container px-0 my-0">
            <div class="row row-cols-1 row-cols-lg-4 g-3">
                <div class="col fade-in">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="text-subtitle c-semi-black c-main">01</p>
                            <p class="text-subtitle c-semi-black">Intake</p>
                            <p class="text-grey">
                                We plannen een afspraak. Om je zo goed mogelijk te kunnen helpen, stuur ik een vragenlijst die je invult en terugstuurt
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col fade-in" data-delay="100">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="text-subtitle c-semi-black c-main">02</p>
                            <p class="text-subtitle c-semi-black">Consult</p>
                            <p class="text-grey">
                                We bekijken samen je klachten. Aan de hand van het gesprek en de vragenlijst stellen we een leefstijl veranderplan op
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col fade-in" data-delay="200">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="text-subtitle c-semi-black c-main">03</p>
                            <p class="text-subtitle c-semi-black">Integratie</p>
                            <p class="text-grey">
                                De weken daarna ga je met dit plan aan de slag en houdt u een dagboek bij
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col fade-in" data-delay="300">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="text-subtitle c-semi-black c-main">04</p>
                            <p class="text-subtitle c-semi-black">Evaluatie</p>
                            <p class="text-grey">
                                We bekijken of er extra aanpassingen nodig zijn, of dat we overgebleven klachten kunnen behandelen met supplementen en kruiden
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Process End -->
