<!-- Our Process Start -->
<div class="bg-subtle w-100 position-relative large-padding">
    <div class="width-base">
        <div class="fade-in">
            <div>
            <span class="icon-circle-17-main"
            ><i class="fa-solid fa-plus c-main"></i
            ></span>
                <span class="ms-2 philosopher fs-14 c-main">AANPAK</span>
            </div>
            <div class="title-about c-semi-black mt-4">
                Stappen tot genezing
            </div>
        </div>
        <div class="container px-0 my-0">
            <div class="row row-cols-1 row-cols-lg-4 g-3">
                {{ range $index, $element := first 4 ( sort (where .Site.RegularPages "Section" "in" "proces") "Weight") }}
                    <div class="col fade-in" data-delay="{{ math.Mul $index 100 }}">
                        <div class="card h-100">
                            <div class="card-body">
                                <p class="text-subtitle c-semi-black c-main">0{{ math.Add $index 1}}</p>
                                <p class="text-subtitle c-semi-black">{{ $element.Name }}</p>
                                <p class="text-grey">
                                    {{ $element.Summary }}
                                </p>
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
<!-- Our Process End -->
