<!-- CEO Quote Start -->
<div class="bg-ceo">
    <div class="container-lg">
        <div class="py-5 d-flex flex-column gap-4">
            <div class="fade-in">
                <div class="d-flex justify-content-center">
                    <img src="icon/testimonial-icon.png" alt="testimonial quote" />
                </div>
                <p class="fs-22 lato c-silver text-center ceo-quote mt-3 mb-4">
                    Mijn missie is om vrouwenklachten begrijpelijk te maken en met leefstijlverandering, al dan niet met kruiden, en op een natuurlijke manier te behandelen
                </p>
            </div>
            <div>
                <div class="d-flex justify-content-center fade-in">
                    <img
                            src="img/Signature-dummy_2.png"
                            class="signature"
                            alt="signature"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CEO Quote End -->
