<!-- CEO Quote Start -->
<div class="bg-ceo">
    <div class="container-lg">
        <div class="py-5 d-flex flex-column gap-4">
            <div class="fade-in">
                <div class="d-flex justify-content-center">
                    <img src="icon/testimonial-icon.png" alt="testimonial quote" />
                </div>
                <p class="fs-22 lato c-silver text-center ceo-quote mt-3 mb-4">
                    {{ .Params.Quote.Text }}
                </p>
            </div>
            <div>
                <div class="d-flex justify-content-center fade-in">
                    {{ with resources.Get "images/monika.png" }}
                    {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
                    <img
                            src="{{ .RelPermalink }}"
                            alt="avatar"
                            class="avatar"
                    />
                    {{ end }}
                    {{ end }}
                </div>
                <div class="d-flex justify-content-center fade-in">
                    {{ with resources.Get "images/signature.png" }}
                    {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
                    <img
                            src="{{ .RelPermalink }}"
                            alt="signature"
                            class="signature"
                    />
                    {{ end }}
                    {{ end }}
                </div>
                <p class="fs-16 lato c-silver text-center mt-2 mt-md-4 fade-in">
                    {{ .Params.Quote.Title }}
                </p>
            </div>
        </div>
    </div>
</div>
<!-- CEO Quote End -->
