    <!-- Rates Start -->
    <div class="bg-subtle w-100">
      <div class="width-base">
        <div class="row row-cols-1 row-cols-sm-2 g-3 align-items-end mb-5">
          <div>
            <div class="fade-in">
              <span class="icon-circle-17-main"
                ><i class="fa-solid fa-plus c-main"></i
              ></span>
              <span class="ms-2 philosopher fs-14 c-main">TARIEVEN</span>
            </div>
            <div class="title-about c-semi-black fade-in">
              Individuele behandeling
            </div>
          </div>
        </div>
        <div>
          <div class="bg-service-1 mb-4 fade-in">
            <div class="custom-card">
              <div class="card-body bg-semi-white">
                <div>
                  <p class="text-subtitle c-semi-black">Kennismaking</p>
                  <p class="text-grey">
                    Korte kennismaking van ongeveer 15 minuten, waarin ik mijn aanpak toelicht.
                  </p>
                </div>
                <div class="d-flex justify-content-between align-items-start border-top pt-3">
                  <div class="lato c-semi-black fs-18">gratis</div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-service-2 mb-4 fade-in">
            <div class="custom-card">
              <div class="card-body bg-semi-white">
                <div>
                  <p class="text-subtitle c-semi-black">Eerste consult</p>
                  <p class="text-grey">
                    In dit gesprek van ongeveer een uur, gaan we aan de hand van een ingevulde vragenlijst naar de klachten kijken en samen een behandelplan opstellen.
                  </p>
                </div>
                <div
                  class="d-flex justify-content-between align-items-start border-top pt-3"
                >
                  <div class="lato c-semi-black fs-18">€80</div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-service-3 mb-4 fade-in">
            <div class="custom-card">
              <div class="card-body bg-semi-white">
                <div>
                  <p class="text-subtitle c-semi-black">Vervolg consult</p>
                  <p class="text-grey">
                    In dit gesprek van ongeveer 45 minuten, gaan we de resultaten van het behandelplan evalueren en indien nodig aanpassen. 
                  </p>
                </div>
                <div
                  class="d-flex justify-content-between align-items-start border-top pt-3"
                >
                  <div class="lato c-semi-black fs-18">€50</div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-service-4 mb-4 fade-in">
            <div class="custom-card">
              <div class="card-body bg-semi-white">
                <div>
                  <p class="text-subtitle c-semi-black">Belafspraak</p>
                  <p class="text-grey">
                    Indien gewenst, is er tijdens een behandeling aanvullend telefonisch contact mogelijk.
                  </p>
                </div>
                <div
                  class="d-flex justify-content-between align-items-start border-top pt-3"
                >
                  <div class="lato c-semi-black fs-18">€15 / kwartier</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Our Rates End -->
