<!-- Why Choose Us Start -->
<div class="bg-darker position-relative">
    <div
            class="bg-choose-us width-base position-relative position-lg-absolute choose-position"
    >
        <div class="fade-in">
            <div class="d-flex justify-content-center">
                <span class="icon-circle-17"><i class="fa-solid fa-plus"></i></span>
                <span class="ms-2 philosopher fs-14 c-white">WAAROM VOOR MIJ KIEZEN</span>
            </div>
            <div class="title-about mt-1 mb-5 c-white w-80 mx-auto text-center">
                Ik zoek naar duurzame oplossingen voor klachten als
            </div>
        </div>
        <div class="container px-0">
            <div class="row row-cols-1 row-cols-md-3 fade-in p-5">
                <div
                        class="col d-flex flex-column align-items-center border-bottom border-lg-right border-white"
                >
                    <div class="mt-4">
                        <img
                                src="img/icons-UGGEC4D_4.png"
                                width="52"
                                height="52"
                                alt="choose"
                        />
                    </div>
                    <p class="text-subtitle c-white mt-3">Endometriose</p>
                    <p class="text-white text-center m-0 mb-lg-4">
                        Op weg naar een pijnloze menstruatie
                    </p>
                </div>
                <div
                        class="col d-flex flex-column align-items-center border-bottom border-white"
                >
                    <div class="mt-4">
                        <img
                                src="img/icons-UGGEC4D_9.png"
                                width="52"
                                height="52"
                                alt="choose"
                        />
                    </div>
                    <p class="text-subtitle c-white mt-3">Hormonale onbalans</p>
                    <p class="text-white text-center m-0 mb-lg-4">
                        Hulp bij bijvoorbeeld PCOS, PMS of klachten bij de menopauze
                    </p>
                </div>
                <div
                        class="col d-flex flex-column align-items-center border-lg-left border-bottom border-white"
                >
                    <div class="mt-4">
                        <img
                                src="img/icons-UGGEC4D_5.png"
                                width="52"
                                height="52"
                                alt="choose"
                        />
                    </div>
                    <p class="text-subtitle c-white mt-3">Stollingsproblemen</p>
                    <p class="text-white text-center m-0 mb-lg-4">
                        Welke rol spelen voedingsstoffen hierin?
                    </p>
                </div>
                <div
                        class="col d-flex flex-column align-items-center border-lg-right border-bottom border-lg-bottom-0 border-white"
                >
                    <div class="mt-4">
                        <img
                                src="img/icons-UGGEC4D_6.png"
                                width="52"
                                height="52"
                                alt="choose"
                        />
                    </div>
                    <p class="text-subtitle c-white mt-3">Vermoeidheid en hoofdpijn</p>
                    <p class="text-white text-center m-0">
                        Verminder de belasting voor je lichaam met een gezonder dieet
                    </p>
                </div>
                <div
                        class="col d-flex flex-column align-items-center border-bottom border-lg-bottom-0"
                >
                    <div class="mt-4">
                        <img
                                src="img/icons-UGGEC4D_7.png"
                                width="52"
                                height="52"
                                alt="choose"
                        />
                    </div>
                    <p class="text-subtitle c-white mt-3">Afvallen</p>
                    <p class="text-white text-center m-0">
                        Pak overgewicht aan met een gezondere levensstijl
                    </p>
                </div>
                <div
                        class="col d-flex flex-column align-items-center border-lg-left border-bottom border-lg-bottom-0 border-white"
                >
                    <div class="mt-4">
                        <img
                                src="img/icons-UGGEC4D_8.png"
                                width="52"
                                height="52"
                                alt="choose"
                        />
                    </div>
                    <p class="text-subtitle c-white mt-3">Onbegrepen klachten</p>
                    <p class="text-white text-center m-0">
                        Op zoek naar de oorzaak in plaats van langdurige symptoombestrijding
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Why Choose Us End -->
