<!-- Banner Start -->
<div class="width-base">
    <div
            class="container w-100 h-100 d-flex justify-content-center align-items-center mt-4 fade-in"
    >
        <div>
            <h1 class="philosopher banner-title c-white text-center">
                About Us
            </h1>
            <div
                    class="d-flex gap-3 philosopher fs-14 c-silver align-items-center justify-content-center large-padding mt-4"
            >
                <div>HOME</div>
                <i
                        class="fa-solid fa-arrow-right-long"
                        style="color: #c7c7c7"
                ></i>
                <div>ABOUT US</div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
