{{ with resources.Get "images/bg-1.jpg" }}
  {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
    .bg-hero {
      background-image: url('{{ .RelPermalink }}');
    }
  {{ end }}
{{ end }}

{{ with resources.Get "images/ceo.jpg" }}
  {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
    .bg-ceo {
      background-image: linear-gradient(rgba(17, 32, 21, .6), rgba(17, 32, 21, .6)), url('{{ .RelPermalink }}');
    }
  {{ end }}
{{ end }}

{{ with resources.Get "images/choose.jpg" }}
  {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
    .bg-choose-us {
        background-image: linear-gradient(rgba(17, 32, 21, .6), rgba(17, 32, 21, .6)), url('{{ .RelPermalink }}');
    }
  {{ end }}
{{ end }}

{{ with resources.Get "images/rates-1.png" }}
  {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
    .bg-service-1 {
        background-image: linear-gradient(rgba(17, 32, 21, .3), rgba(17, 32, 21, .3)), url('{{ .RelPermalink }}');
        min-height: 385px;        
    }
  {{ end }}
{{ end }}

{{ with resources.Get "images/rates-2.png" }}
  {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
    .bg-service-2 {
        background-image: linear-gradient(rgba(17, 32, 21, .3), rgba(17, 32, 21, .3)), url('{{ .RelPermalink }}');
        min-height: 385px;        
    }
  {{ end }}
{{ end }}

{{ with resources.Get "images/rates-3.png" }}
  {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
    .bg-service-3 {
        background-image: linear-gradient(rgba(17, 32, 21, .3), rgba(17, 32, 21, .3)), url('{{ .RelPermalink }}');
        min-height: 385px;        
    }
  {{ end }}
{{ end }}

{{ with resources.Get "images/rates-4.png" }}
  {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
    .bg-service-4 {
        background-image: linear-gradient(rgba(17, 32, 21, .3), rgba(17, 32, 21, .3)), url('{{ .RelPermalink }}');
        min-height: 385px;        
    }
  {{ end }}
{{ end }}
