.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;  
}

.bg-dark {
    background-color: #C0673C !important;
}

.navbar-toggler {
    display: none;
}

:root {
    --link-color-1: #5C9269;
}

.bg-hero, .bg-darker {
    a {
        text-decoration: none; /* Remove underline from links */
        cursor: pointer; /* Change cursor to pointer on hover */

        color: inherit;

        &:hover {
            color: inherit;
        }
    }
}

.accordeon-item {
    a {
        color: var(--link-color-1);
        transition: background-color .3s ease, color .3s ease;

        &:hover {
            color: var(--bs-text);
            transition: background-color .3s ease, color .3s ease;
        }
    }
}
