<!-- Footer Start -->
<div class="bg-darker w-100">
    <div class="width-base">
        <div class="container px-0 footer-padding">
            <div class="row row-cols-1 row-cols-lg-2 g-3">
                <div class="col">
                    <div>
                        <a href="#">
                            {{ with resources.Get "images/logo.png" }}
                            {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
                            <img
                                    src="{{ .RelPermalink }}"
                                    alt="wivana logo"
                                    class="footer-logo"
                            />
                            {{ end }}
                            {{ end }}
                        </a>
                    </div>
                    <div class="d-flex gap-2 py-2">
                <span class="icon-circle-32 bg-grey">
                    <a href="{{ .Params.contact.facebook }}" target="_blank">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </span>
                    </div>

                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-lg-4">
                    <h3 class="text-subtitle c-white mb-4">{{ .Params.contact.openingtime.title }}</h3>
                    {{ with .Params.contact.openingtime.items }}
                        {{ range . }}
                            <div class="mb-2">
                                <i class="fa-regular fa-clock" style="color: #c7c7c7"></i>
                                <span class="text-silver">{{ title . }}</span>
                            </div>
                        {{ end }}
                    {{ end }}
                </div>
                <div class="col-12 col-lg-1"></div>
                <div class="col-12 col-lg-3">
                    <div>
                        <h3 class="text-subtitle c-white mb-3 mb-lg-4 mt-5 mt-lg-0">
                            {{ .Params.contact.address.title }}
                        </h3>
                        <div>
                            <p class="text-silver pe-5">
                                {{ with .Params.contact.address.items }}
                                    {{ range . }}
                                        {{ title . }}
                                        <br/>
                                    {{ end }}
                                {{ end }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div>
                        <h3 class="text-subtitle c-white mb-3 mb-lg-4 mt-5 mt-lg-0">{{ .Params.contact.title }}</h3>
                        <div>
                            <p class="text-silver my-0">{{ .Params.contact.phone }}</p>
                            <p class="text-silver">email : {{ .Params.contact.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
