<!-- Footer Start -->
<div class="bg-darker w-100">
    <div class="width-base">
        <div class="container px-0 footer-padding">
            <div class="row row-cols-1 row-cols-lg-2 g-3">
                <div class="col">
                    <div>
                        <a href="/">
                            {{ with resources.Get "images/logo.png" }}
                            {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
                            <img
                                    src="{{ .RelPermalink }}"
                                    alt="wivana logo"
                                    class="footer-logo"
                            />
                            {{ end }}
                            {{ end }}
                        </a>
                    </div>
                    <div class="d-flex gap-2 py-2">
                <span class="icon-circle-32 bg-grey">
                    <a href="https://www.facebook.com/herbbalans" target="_blank" class="icon-circle-32">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </span>
                    </div>

                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-lg-4">
                    <h3 class="text-subtitle c-white mb-4">Openingstijden</h3>
                    <div class="mb-2">
                        <i class="fa-regular fa-clock" style="color: #c7c7c7"></i>
                        <span class="text-silver"
                        >Maandag - Vrijdag: 11:00 - 17:00</span
                        >
                    </div>
                </div>
                <div class="col-12 col-lg-1"></div>
                <div class="col-12 col-lg-3">
                    <div>
                        <h3 class="text-subtitle c-white mb-3 mb-lg-4 mt-5 mt-lg-0">
                            Adres
                        </h3>
                        <div>
                            <p class="text-silver pe-5">
                                De Maar 31<br/>
                                1676 EB Twisk
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div>
                        <h3 class="text-subtitle c-white mb-3 mb-lg-4 mt-5 mt-lg-0">Contact</h3>
                        <div>
                            <p class="text-silver my-0">06 42 41 42 76</p>
                            <p class="text-silver">email : herbbalans@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
